//Utils
@import "./utils/variables";
@import "./utils/base";

//Components
//About
@import "./components/header";
@import "./components/navigation";
@import "./components/request";
@import "./components/quality";
@import "./components/whatwedo";
@import "./components/team";
@import "./components/customers";
@import "./components/footer";
//Modal
@import "./components/modal";
//Portfolio
@import "./components/portfolio";
@import "./components/buttons";
@import "./components/projects";