.portfolio__list {
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  
  .portfolio__button {
    border-radius: 4px;
    margin-bottom: 50px;
    margin-right: 8px;
    border: 1px solid transparent;
    padding: 6px 22px;
    background-color: getColor('team-background');
    /*background-color: var(--second-bg-color);*/
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: getColor('primary-text-color');
    /*color: var(--second-color-text);*/
    cursor: pointer;
  }
  &__button li:nth-child(5n) {
    margin-right: 0;
  }
  &__button:hover,
  &__button:focus {
    background-color: getColor('accent');
    /*background-color: var(--accent-color);*/
    color: getColor('white');
    /*color: var(--primary-white-color);*/
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }