.customers {
    margin-top: 0;
    padding-top: 94px;
    padding-bottom: 94px;
  }
  &__title {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-color-text);
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: 30px;
  }
 
  &__list li:nth-child(6n) {
    margin-right: 0;
  }
  &__item {
    display: block;
    content: "";
    width: 170px;
    height: 92px;
    border-radius: 4px;
    border : 1px solid #AFB1B8;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
    margin-right: auto;
  }
  &__item &__icon {
    display: flex;
    justify-content: center;
  }
  &__item &__link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  &__item &__icon {
    fill:  #AFB1B8;
  }
  
  &__item &__link:hover &__icon {
    fill: var(--accent-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__item &__link:hover {
    border: 1px solid var(--accent-color);    
  }
  &__item:hover,
  &__item:focus {
    background-color: var(--accent-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }