.footer {
    background-color: var(--third-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  /* footer logo */
  .container2 {
    display: flex;  
    align-items: baseline;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer__address-block { 
    margin-right: 70px;
    width: 231px;
   }
  .footer__logo-web {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
  }
  .footer__logo-studio {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
  }
  /* address */
  .footer__list {
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
    padding-left:0;
    margin-top: 20px;
    list-style: none;
    font-style: normal;
  }
  

  .footer__link {
    color: var(--primary-white-color);
    text-decoration: none;
  }
        &:hover,
        &:focus {
          color: var(--accent-color);
        }
  .footer__contacts {
    color: var(--secondary-white-color);
    text-decoration: none;
  }
  /*find us on*/
  .footer__social-block { 
    display: inline;
    width: 206px;
    margin: 0;
    margin-right: 93px;
  }
  
  .footer__title {
    color: var(--primary-white-color);
  }
  .footer__social-link, 
  .footer__social-item   {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .footer__social-item {
    width: 44px;
    height: 44px;
    margin-right: 10px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
  }
    &:nth-child(4n) {
      margin-right: 0;
    }
  .footer__icons {
    display: inline-flex;
    padding-inline: 0;
    margin-top: 0;
  }  
    &__icons &__social-item:hover,
    &__icons &__social-item:focus {
      background-color: var(--accent-color);
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  
  .footer__icons .footer__icon {
    fill:  var(--primary-white-color);
  }
    &__icons &__social-link:hover &-icon {
      fill: var(--primary-white-color);
    }
  .footer__sbr-block {  
    width: 570px; 
  }
  .footer__mail {
    width: 358px;
    padding: 15px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    margin-right: 8px;
  }

  .footer__button {
    width: 200px;
    height: 50px;
    padding: 10px 62px 10px 28px;
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: var(--accent-color);
    cursor: pointer;
    position: relative;
  }
    &__button svg {
      position: absolute;
      width: 24px;
      height: 24px;
      bottom: 10px;
      right: 30px;
    }