.header {
    background-color: var(--primary-white-color);
    border: 1px solid #ECECEC;
    /*position: fixed;*/
    width: 100%;
    min-height: 80px;
    top: 0;
    left: 0;
    z-index: 1;
    list-style: none;
  }
  .header__link {
    text-decoration: none;
  }
    &__link:hover,
    &__link:focus {
      color: var(--accent-color);
    }
   /* header logo */
   .header__logo-web {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
  }
  .header__logo-studio {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--third-color-text);
  }
  .header__logo-web {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
  }
  .header__logo-studio {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--third-color-text);
  }
 