.quality {
    margin-top: 0;
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .quality__visually-hidden {
    margin-top: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
  .quality__item {
    width: 270px;
    margin-right: 30px;
    margin-bottom: 0px;
  }
    &:nth-child(4n) {
      margin-right: 0;
    }
  
    &::before {
      display: block;
      content: "";
      height: 120px;
      border-radius: 4px;
      background-repeat: no-repeat;
      background-position: center;
      background-color: var(--second-bg-color);
      margin-bottom: 30px;
    }
    
  .icon-antenna::before {
    background-image: url(../images/icons/antenna\ 1.svg);
  }
  .icon-clock::before {
    background-image: url(../images/icons/clock\ 1.svg);
  }
  .icon-diagram::before{
    background-image: url(../images/icons/diagram\ 1.svg);
  }
  .icon-astronaut::before{
    background-image: url(../images/icons/astronaut\ 1.svg);
  }
  
  .quality__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-color-text);
  }
  .quality__text {
    margin-top: 0;
    margin-bottom: 0;
  }