.team {
    background-color: var(--second-bg-color);
    margin-top: 0;
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .team__title {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-color-text);
  }
  .team .list {
    list-style: none;
  }
  .team__item { 
    width: 270px;
    margin-right: 30px;
    margin-bottom: 0px; 
    background-color: var(--primary-white-color); 
    /* material shadow v1 */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
    &:nth-child(4n) {
      margin-right: 0;
    }
  .team__name {
    padding-top: 30px;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-color-text);
  }
  .team__text {
    padding-bottom: 16px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
  }
  .team__item .social__icons {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
  }
  .team__item .social__item {
    width: 44px;
    height: 44px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: var(--primary-white-color);
  }
  .team__item .social__item:last-child {
    margin-right: 0;
  }
  .team__item .social__link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .team__item  .social__item:hover,
  .team__item  .social__item:focus {
    background-color: var(--accent-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .team__item .social__icon {
    fill:  #AFB1B8;
  }
  .team__item .social__link:hover .social__icon {
    fill: var(--primary-white-color);
  }
 