body {
  color: getColor('white');
  /*background-color: var(--primary-white-color);*/
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: getColor('secondary-text-color');
  /*color: var(--color-text);*/
  }
  .img {
    display: block;
    max-width: 100%;
    height: auto;
}

  .main-div {
    display: flex;
    align-items: center;
  }
  .list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }
 
  .ul, li {
    list-style: none;
  }