:root {
    --color-text: #757575;
    --second-color-text: #212121;
    --third-color-text: #000000;
    --second-bg-color:  #F5F4FA;
    --third-bg-color:#2f303a;
    --accent-color: #2196f3;
    --primary-white-color: #ffffff;
    --secondary-white-color: rgba(255, 255, 255, 0.6);
  }